ENV=development

PORT=3000
DATABASE_URL=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10


ENCRYPTION_KEY=!
USE_MOCK_PROVIDERS=true